/* Fonts */
@import url("https://use.typekit.net/mto2bxv.css");

/* Font Types
	Regular:
	font-family: "montserrat", sans-serif;
	font-weight: 400;
	font-style: normal; 
	https://fonts.adobe.com/fonts/montserrat
	*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f7f5f4;
	font-family: "montserrat", sans-serif;
	font-style: normal;
	color: #f7f5f4;
	height: 100vh;
}

/* Colors */

.text-white {
	color: #f7f5f4;
}

.text-black {
	color: #11161c;
}

.text-grey {
	color: #7f8491;
}

.text-light-blue {
	color: #7cadd4;
}

.text-dark-blue {
	color: #5e91af;
}

.background-white {
	background-color: #f7f5f4;
}

.background-black {
	background-color: #11161c;
}

.background-grey {
	background-color: #7f8491;
}

.background-light-blue {
	background-color: #7cadd4;
}

.background-dark-blue {
	background-color: #5e91af;
}

.no-style {
	text-decoration: none;
}

.no-style a {
	text-decoration: none;
}

/* Text */
h1 {
	font-size: 150px;
	font-weight: 800;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	font-weight: 700;
}

h4 {
	font-size: 25px;
	font-weight: 700;
}

h5 {
	font-size: 20px;
	font-weight: 700;
}

h6 {
	font-size: 15px;
	font-weight: 700;
}

p {
	font-size: 15px;
	font-weight: 400;
}

@media screen and (max-width: 1500px) {
	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 15px;
	}

	h6 {
		font-size: 10px;
	}

	p {
		font-size: 10px;
	}
}

/* Generic */
button {
	border: none;
	background-color: #f7f5f4;
	cursor: pointer;
	font-size: 38px;
	padding: 20px 60px;
	border-radius: 18px;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
	margin: 20px 0;
	font-family: "montserrat", sans-serif;
	font-weight: 500;
}

.line {
	height: 3px;
	margin: 20px 0;
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 117px;
	color: #11161c;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 35px;
}

#nav-name {
	font-size: 60px;
	padding-left: 20px;
}

.logo-container {
	display: flex;
	align-items: center;
}

.nav-links {
	display: flex;
	flex-direction: row;
}

.navbar .nav-links a {
	color: #454c5f;
	text-decoration: none;
	margin: 0 20px;
	font-weight: 300;
}

#nav-about {
	font-weight: 300;
}

.navbar li {
	list-style: none;
}

#navbar-logo {
	height: 100px;
	width: auto;
	margin-left: 20px;
}

/* Home Start */
.start-home {
	background: linear-gradient(
		73deg,
		rgba(69, 76, 95, 1) 70%,
		rgba(247, 245, 244, 1) 70%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 0 40px;
}

.slogan-and-button {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.start-home .slogan {
	text-shadow: 2px 2px #000000;
}

.bottle {
	width: 28vw;
	height: auto;
}

#bottle1 {
	position: absolute;
	rotate: 40deg;
	right: 70px;
	top: 12vh;
}

#bottle2 {
	position: absolute;
	top: 12vh;
	right: 300px;
}

/* Flavours */
.flavour-container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flavour {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.flavour h1 {
	font-size: 80px;
}

.navbar.flavours-nav a {
	color: #f7f5f4;
}

.flav-pic {
	height: 80vh;
	width: auto;
}

.flav-line {
	width: 80%;
}

.flavour p {
	font-size: 50px;
	font-weight: 600;
}

.flav-nutritions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.flav-nutritions p {
	padding-right: 20px;
}

.flavour button {
	margin-top: 90px;
	width: 100%;
}

/* flav-specific */

/* Cadoflower */
.cadoflower {
	background-color: #6a8c65;
}

.cadoflower .flav-line {
	background-color: #f7f5f4;
}

.cadoflower button {
	color: #6a8c65;
}

/* Minty Citrus */
.minty-citrus {
	background-color: #fffaba;
	color: #6a8c65;
}

.minty-citrus .flav-line {
	background-color: #6a8c65;
}

.minty-citrus button {
	color: #6a8c65;
}

/* Bloody Ginger */
.bloody-ginger {
	background-color: #ffbc98;
	color: #fffaba;
}

.bloody-ginger .flav-line {
	background-color: #fffaba;
}

.bloody-ginger button {
	color: #6a8c65;
}
